<!doctype html>
<html lang="en" ng-app="ngTableApp">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">-->
  <script src="./js/angular/angular.js"></script>
  <script src="./js/controllers.js"></script>
</head>
<body ng-controller="TableMaker">

  <table>
  	<tr ng-repeat="row in rows">{{row.category}}<th></th><td ng-repeat="cell in row">{{row.cells}}</td></tr>
  </table>

</body>
</html>